.Mint_history{
    padding: 20px 0px;
    background: blueviolet;    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    border-radius: 20px;
    width: 675px;
}

.history_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 558px;
}

.mint_history_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border: 1px solid black;
    border-radius: 21px;
    padding: 5px 15px;
    width: 188px;
}

.line{
    width: 100%;
    height: 1px;
    background-color: grey;
    margin: 30px 0 40px;
    box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 70%);

}

.history_img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: tomato;
    margin: 20px;
}

.history_btn{
    padding: 15px 38px;
    width: 54%;
    border: none;
    border-radius: 19px;
    background: #0064CF;
    color: white;
    outline: none;
}